@using DacarDatos.Datos

@{
    var menu = (List<Menus>)ViewBag.MenuPrincipal;
    var sub = (List<MenuOpciones>)ViewBag.MenuOpciones;
    var subMenuOp = (List<SubMenuOpciones>)ViewBag.SubMenuOpciones;


}
@using DacarProsoft.Models
@{
    var men = (List<MenuAcceso>)ViewBag.MenuAcceso;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @*<script src="~/Content/NavBar/EstiloBarra.js"></script>*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/General/Principal/Principal.js"></script>
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="~/Content/TemplateFalcon/assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/prismjs/prism-okaidia.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/datatables-bs4/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/leaflet/leaflet.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/plyr/plyr.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/css/theme.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/Content/TemplateFalcon/assets/lib/select2/select2.min.css" rel="stylesheet">

    @*<link href="~/Content/TemplateFalcon/assets/lib/fullcalendar/main.min.css" rel="stylesheet">*@

    <link href="~/Content/fullcalendar-5.11.2/lib/main.css" rel="stylesheet" />
    <script src="~/Content/fullcalendar-5.11.2/lib/main.js"></script>

    <style>
        .navbar .nav-item:not(:last-child) {
            margin-right: 25px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        .dropdown-menu .sub-menu {
            left: 100%;
            position: absolute;
            top: 0;
            visibility: hidden;
            margin-top: -1px;
        }

        .dropdown-menu li:hover .sub-menu {
            visibility: visible;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
            margin-top: 0;
        }

        .navbar .sub-menu:before {
            border-bottom: 7px solid transparent;
            border-left: none;
            border-right: 7px solid rgba(0, 0, 0, 0.2);
            border-top: 7px solid transparent;
            left: -7px;
            top: 10px;
        }

        .navbar .sub-menu:after {
            border-top: 6px solid transparent;
            border-left: none;
            border-right: 6px solid #fff;
            border-bottom: 6px solid transparent;
            left: 10px;
            top: 11px;
            left: -6px;
        }


        .dropdown-menu > li > a, .navbar-nav > li > a {
            color: black;
            font-size: 14px;
        }
    </style>

    @*<style>

            h7 {
                font-family: sans-serif;
            }

            li {
                float: none;
            }

                li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    li a:hover {
                        background-color: #1b9bff;
                    }

            .active {
                background-color: #4CAF50;
            }
        </style>*@
    <style>
        .dropdown-menu > li /* Para evitar la selección de texto */ {
            position: relative;
            -webkit-user-select: none; /* Chrome/Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */
            /* Las reglas a continuación no están implementadas en los navegadores todavía */
            /*            -o-user-select: none;
        */ user-select: none;
            cursor: pointer;
        }

        .dropdown-menu .sub-menu {
            left: 100%;
            position: absolute;
            top: 0;
            display: none;
            margin-top: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left-color: #fff;
            box-shadow: none;
        }

        .right-caret:after, .left-caret:after {
            content: "";
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
            display: inline-block;
            height: 0;
            vertical-align: middle;
            width: 0;
            margin-left: 5px;
        }

        .right-caret:after {
            border-left: 5px solid #ffaf46;
        }

        .left-caret:after {
            border-right: 5px solid #ffaf46;
        }
    </style>
    <style>
        body {
            background-color: #E1E1E1;
        }
    </style>


</head>

<body>
    @*<nav class="navbar navbar-expand-lg navbar-light bg-primary fix fixed-top">
            <a href="@Url.Action("VistaPrincipal", "Principal")" title="List View" class="links">
                <img alt="List View" src="@Url.Content("~/Images/DacarProsoft.png")" width="110" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">

                    @{ foreach (var x in men)
                        {
                            if (x.EstadoMenu != 0 && x.Estado != 0)
                            {
                                <li class="nav-item dropdown" id='dmenu'>
                                    <a class="nav-link dropdown-toggle" value="@x.MenuId" id="menuOp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <h7 class="font-italic" style="color:black"><strong> @x.Descripcion </strong> </h7>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="menuOp">
                                        @{ foreach (var y in sub)
                                            {
                                                if (@x.MenuId == @y.MenuId && @y.EstadoMenuOpciones != 0)
                                                {
                                                    <li>
                                                        <a class="dropdown-item"  id="opc" href="@y.Url" value="@y.MenuId">@y.Descripcion</a>
                                                        <ul class="dropdown-menu sub-menu" aria-labelledby="opc">
                                                            @{

                                                                foreach (var z in subMenuOp)
                                                                {
                                                                    if (subMenuOp.Count != 0)
                                                                    {
                                                                        if (@z.CodigoMenuOpciones == @y.MenuOpcionesId)
                                                                        {
                                                                            <li><a class="dropdown-item" href="@z.UrlSubmenuOpciones" value="@z.SubMenuOpcionesId">@z.NombreSubMenuOpciones</a></li>

                                                                        }
                                                                    }
                                                                }

                                                            }
                                                        </ul>

                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>

                                </li>
                            }
                        }

                    }
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <a class="nav-link" href="../Account/LogOut" id="CerrarSesion" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <h7 style="color:#ffffff">Cerrar Sesión</h7>
                </a>
            </form>
        </nav>*@

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="../Principal/VistaPrincipal">
            <img alt="Brand" src="~/Images/DacarProsoft.png" width="110" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                @{ foreach (var x in men)
                    {
                        if (x.EstadoMenu != 0 && x.Estado != 0)
                        {
                            <li class="nav-item dropdown" id='dmenu'>
                                <a class="nav-link dropdown-toggle" value="@x.MenuId" id="menuOp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <h7 class="font-italic" style="color:black"><strong> @x.Descripcion </strong> </h7>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="menuOp">
                                    @{ foreach (var y in sub)
                                        {
                                            if (@x.MenuId == @y.MenuId && @y.EstadoMenuOpciones != 0)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="@y.Url" value="@y.MenuId">@y.Descripcion</a>
                                                    @foreach (var w in subMenuOp)
                                                    {
                                                        int i = 0;
                                                        if (@y.MenuOpcionesId == @w.CodigoMenuOpciones && i == 0)
                                                        {
                                                            i = i + 1;
                                                            <ul class="dropdown-menu sub-menu">
                                                                @{
                                                                    foreach (var z in subMenuOp)
                                                                    {
                                                                        if (@z.CodigoMenuOpciones == @y.MenuOpcionesId)
                                                                        {
                                                                            <li><a class="dropdown-item" href="@z.UrlSubmenuOpciones" value="@z.SubMenuOpcionesId">@z.NombreSubMenuOpciones</a></li>

                                                                        }
                                                                    }
                                                                }
                                                            </ul>
                                                        }


                                                    }
                                                </li>
                                            }
                                        }
                                    }
                                </ul>

                            </li>
                        }
                    }

                }

            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <ul class="nav navbar-nav navbar-right user-nav">
                @*<li class="user-name"><span>aaaa</span></li>*@
                <li class="dropdown avatar-dropdown">
                    <img src="~/Images/icons8-login-64.png" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                    <ul class="dropdown-menu dropdown-menu-right">
                        @*<li><a href="../Login/PerfilUsuario"><span class="fa fa-user"></span> Mi perfil</a></li>*@
                        @*<li role="separator" class="divider"></li>*@
                        <li>
                            <ul>
                                <li @*style="list-style-type: none;"*@><a class="dropdown-item" onclick="AbrirModalCambioPass();"><span class="fa fa-cogs"></span> Cambiar Contraseña</a></li>
                                @*<li><a href=""><span class="fa fa-lock"></span></a></li>*@
                                <li @*style="list-style-type: none;"*@><a class="dropdown-item" href="../Account/LogOut" id="CerrarSesion"><span class="fa fa-power-off "></span> Cerrar Sesion</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            @*<a class="nav-link" href="../Account/LogOut" id="CerrarSesion" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <h7 style="color:#ffffff">Cerrar Sesión</h7>
                </a>*@
        </form>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <div class="modal fade" id="ModalCambioContraseniaUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header alert-primary">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cambiar contraseña de inicio de sesion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" @*style="background-color:cornflowerblue"*@>
                        <div id="MsjCambioExitoso" class="alert alert-success collapse">
                            <button id="LinkCloseUno" type="button" class="close">&times;</button>
                            <strong>Cambio realizado con éxito</strong>
                        </div>
                        <div id="MsjCambioNoExitoso" class="alert alert-danger collapse">
                            <button id="LinkCloseDos" type="button" class="close">&times;</button>
                            <strong>Ocurrio un error al cambiar la contraseña</strong>
                        </div>
                        <div id="MsjPassNoConcuerda" class="alert alert-danger collapse">
                            <button id="LinkCloseCuatro" type="button" class="close">&times;</button>
                            <strong>La contraseña actual no es la correcta</strong>
                        </div>
                        <div id="MsjCompleteTodosCamposForm" class="alert alert-danger collapse">
                            <button id="LinkCloseTres" type="button" class="close">&times;</button>
                            <strong>Complete todos los campos!</strong>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="formGroupExampleInput">Contraseña Actual:</label>
                                <input type="email" class="form-control" id="txtPassAntiguaUser" placeholder="Escribir contraseña">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="formGroupExampleInput">Contraseña Nueva:</label>
                                <input type="email" class="form-control" id="txtPassNuevaUser" placeholder="Escribir contraseña">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="ConfirmarCambioPassUser()">Cambiar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dacar Prosoft</p>
        </footer>
    </div>
    @*<script src="~/scripts/Jquery.js"></script>*@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @*<script src="~/scripts/bootstrap.bundle.js"></script>
        <script src="~/scripts/bootstrap.js"></script>*@
    <script src="~/scripts/General/Account/CambioContrasenia.js"></script>
    <script src="~/Content/TemplateFalcon/assets/js/jquery.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/js/popper.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/is_js/is.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/lodash/lodash.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="~/Content/TemplateFalcon/assets/lib/prismjs/prism.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/chart.js/Chart.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/datatables-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/datatables.net-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/leaflet/leaflet.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/leaflet.markercluster/leaflet.markercluster.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/echarts/echarts.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/progressbar.js/progressbar.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/owl.carousel/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.7/polyfill.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/dropzone/dropzone.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/tinymce/tinymce.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/flatpickr/flatpickr.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/plyr/plyr.polyfilled.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Content/TemplateFalcon/assets/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="~/Content/TemplateFalcon/assets/lib/prismjs/prism.js"></script>
    <script src="~/Content/TemplateFalcon/assets/lib/select2/select2.min.js"></script>
    <script src="~/Content/fullcalendar-5.11.2/lib/locales-all.min.js"></script>

    @*<script src="~/Content/TemplateFalcon/assets/lib/fullcalendar/main.min.js"></script>
        <script src="~/Content/TemplateFalcon/assets/lib/flatpickr/flatpickr.min.js"></script>
        <script src="~/Content/TemplateFalcon/assets/lib/dayjs/dayjs.min.js"></script>*@


    @if (ViewBag.JavaScript != null)
    {
        string js = ViewBag.JavaScript;
        string url = "/scripts/" + js + ".js?v=1.0";
        var res = HttpUtility.UrlDecode(url);
        <script src="@res"></script>
    }

    <script>
        var ConfigDev = {
            dataSource: null,
            showBorders: true,
            paging: {
                pageSize: 10
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [5, 10, 100],
                showInfo: true
            },
            columnAutoWidth: true,
            columns: null
        }
    </script>

    @if (ViewBag.dxdevweb != null)
    {
        <link href="~/Content/dxdevweb/css/dx.common.css" rel="stylesheet" />
        <link href="~/Content/dxdevweb/css/dx.light.css" rel="stylesheet" />
        <script src="~/Content/dxdevweb/js/dx.viz-web.js"></script>
        <script src="~/Content/dxdevweb/js/dx.messages.es.js"></script>
        <script src="~/Content/dxdevweb/exceljs.min.js"></script>
        <script src="~/Content/dxdevweb/FileSaver.min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
    }

</body>

</html>
