
@{
    ViewBag.Title = "IngresosPruebasLaboratorio";
    Layout = "~/Views/Compartida/_Layout.cshtml";
}

@{

    var marcasPropias = ViewBag.MarcasPropias;
    var models = ViewBag.Models;

    var Marcas = ViewBag.datMarcas;
    var TipoNorma = ViewBag.datTipoNorma;
    var Normativa = ViewBag.Normativa;
    var Separador = ViewBag.datSeparador;
    var TipoEnsayo = ViewBag.datTipoEnsayo;
    var TipoPlaca = ViewBag.datTipoPlaca;

}
<br />

<div class="card shadow align-top">
    <div class="card-header">
        <h2>Ingresos Pruebas Laboratorio</h2>
    </div>
    <div class="card-body" @*style="background-image: url('../../Images/Dacarito.png')"*@>
        <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
            <button id="LinkClose2" type="button" class="close">&times;</button>
            <strong>Error Inesperado!</strong>
        </div>
        <div id="MensajeGuardado" class="alert alert-primary collapse">
            <button id="LinkClose" type="button" class="close">&times;</button>
            <strong>Guardado Exitosamente!!</strong>
        </div>
        <div id="MensajeCompleteCampos" class="alert alert-danger collapse">
            <button id="LinkClose5" type="button" class="close">&times;</button>
            <strong>Complete todos los campos!</strong>
        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Fecha Prueba</label>
                            <input type="date" class="form-control" id="txtFechaIngreso" placeholder="Fecha Prueba">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Codigo Ingreso</label>
                            <input type="number" class="form-control" id="txtCodigoIngreso" placeholder="Codigo Ingreso" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Marca</label>
                            @Html.DropDownList("Marcas", new SelectList(Marcas, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "txtMarca" })

                            @*<input type="text" class="form-control" id="txtMarca" placeholder="Marca">*@
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Tipo de Norma</label>
                            @Html.DropDownList("TipoNorma", new SelectList(TipoNorma, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "txtTipoNorma" })
                            @*<input type="text" class="form-control" id="txtTipoNorma" placeholder="Tipo de Norma">*@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Version</label>
                            @Html.DropDownList("Normativa", new SelectList(Normativa, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "txtNormativa" })

                            @*<input type="text" class="form-control" id="txtNormativa" placeholder="Normativa">*@
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Pre-Acondicionamiento</label>
                            <select class="form-control" aria-label="Default select example" id="txtPreAcondicionamiento" style="width:100%">
                                <option value="" selected="selected">--Seleccione--</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>

                            </select>
                            @*<input type="text" class="form-control" id="txtPreAcondicionamiento" placeholder="Pre-Acondicionamiento">*@
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Tipo Bateria</label>
                            @Html.DropDownList("marcasPropias", new SelectList(marcasPropias, "Identificador", "Referencia"), "--Seleccion el Tipo Bateria--", new { @class = "form-control", id = "txtTipoBateria", onchange = "CargarModelosBateriasVehiculos();" })
                            @*<input type="text" class="form-control" id="txtTipoBateria" placeholder="Tipo Bateria">*@
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Modelo</label>
                            <select class="form-control" aria-label="Default select example" id="txtModelo" style="width:100%">
                                <option value="" selected="selected">--Seleccione el modelo--</option>
                            </select>
                            @*<input type="text" class="form-control" id="txtModelo" placeholder="Modelo">*@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Separador</label>
                            @Html.DropDownList("Separador", new SelectList(Separador, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "txtSeparador" })

                            @*<input type="text" class="form-control" id="txtSeparador" placeholder="Separador">*@
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Tipo de Ensayo</label>
                            @*<input type="text" class="form-control" id="txtTipoEnsayo" placeholder="Tipo de Ensayo">*@
                            @Html.DropDownList("TipoEnsayo", new SelectList(TipoEnsayo, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "txtTipoEnsayo" })

                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Lote de Ensamble</label>
                            <input type="text" class="form-control" id="txtLoteEnsamble" placeholder="Lote de Ensamble">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Lote de Carga</label>
                            <input type="text" class="form-control" id="txtLoteCarga" placeholder="Lote de Carga">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">CCA-MID</label>
                            <input type="number" class="form-control" id="txtCCA" placeholder="CCA-MID">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Peso (Kg)</label>
                            <input type="number" class="form-control" id="txtPeso" placeholder="Peso (Kg)">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Voltaje</label>
                            <input type="number" class="form-control" id="txtVoltaje" placeholder="Voltaje">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Densidad Ingreso</label>
                            <input type="number" class="form-control" id="txtDensidadIngreso" placeholder="Densidad Ingreso">
                        </div>
                    </div>
                    <div class="form-row">
                        @*<div class="form-group col-md-3">
                                <label for="inputPassword4">Densidad Pre-Acondiciomiento</label>
                                <input type="number" class="form-control" id="txtDensidadPreAcondiciamiento" placeholder="Densidad Pre-Acondiciomiento">
                            </div>*@
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Temperatura Ingreso (ºC)</label>
                            <input type="number" class="form-control" id="txtTemperaturaIngreso" placeholder="Temperatura Ingreso (ºC)">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Temperatura de Prueba (ºC)</label>
                            <input type="number" class="form-control" id="txtTemperaturaPrueba" placeholder="Temperatura de Prueba (ºC)">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Dato Teorico de Prueba</label>
                            <input type="number" class="form-control" id="txtDatoTeoricoPrueba" placeholder="Dato Teorico de Prueba" onchange="CalcularResultado();">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Resultado Final</label>
                            <input type="number" class="form-control" id="txtResultadoFinal" placeholder="Resultado Final" onchange="CalcularResultado();">
                        </div>
                    </div>
                    <div class="form-row">
                        @*<div class="form-group col-md-3">
                                <label for="inputPassword4">Valor Objetivo Minimo</label>
                                <input type="number" class="form-control" id="txtValorObjetivo" placeholder="Valor Objetivo Minimo">
                            </div>*@

                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Observaciones </label>
                            <input type="text" class="form-control" id="txtObservaciones" placeholder="Observaciones">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Rendimiento (%)</label>
                            <input type="number" class="form-control" id="txtCalificacion" placeholder="Rendimiento" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Código Bateria</label>
                            <input type="number" class="form-control" id="txtCodigoBateria" placeholder="Codigo Bateria">
                        </div>
                      
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Tipo de Placa Positivo</label>
                                @Html.DropDownList("Placa", new SelectList(TipoPlaca, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "txtPlaca" })
                            </div>


                        

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Tipo de Placa Negativo</label>
                            @Html.DropDownList("Placa", new SelectList(TipoPlaca, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "txtPlacaNegativo" })
                        </div>
                        <div class="form-group col-md-3">

                            <label for="inputEmail4">Intendidad de Descarga </label>
                            <input type="number" class="form-control" id="txtIntensidadDescarga" placeholder="Intensidad de Descarga">

                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Anexos</label>
                            <input type="file" accept=".jpg,.png,.jpeg,.gif,.pdf,.xlsx,docx,.doc,pptx" class="form-control-file" id="txtAnexos" @*onchange="ValidarTipoImagen(this);"*@ multiple>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <img src="~/Images/dacaritoo.png" style="max-width:100%;width:525px;height:auto;" />
                </div>
            </div>



            <div align="center">
                <button type="button" class="btn btn-primary" id="btnRegistrarPrueba">Registrar</button>
            </div>
        </form>



    </div>

</div>
